html{
	background-color: rgba(15, 15, 15, .95);
	/*background: rgba(0, 195, 255, .6), url("/background.png");*/
	text-align: center;
	
}

body{
	background-color: transparent;
	color: white;
}

header{
	text-align: left;
}

#header-link{
	padding: 15px;
}

#header-link img{
	max-width: 100%;
	height: 50px;
	margin-top: 5px;
}

ul{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
	
}

a.navbar-brand{
	padding: 7px;
}

.navbar-nav>li:hover, .navbar-inverse .navbar-nav>.active>a{
	background-color: rgba(0, 195, 255, .8);
}

.navbar{
	margin: 0;
}

#logo{
	height: 100%;
}

.carousel-inner>.item>img{
	width: 100%;
	height: 350px;
}
