html{
	background-color: rgba(15, 15, 15, .95);
	/*background: rgba(0, 195, 255, .6), url("/background.png");*/
	text-align: center;
}

body{
	padding-top: 50px; /*Pushes Banner below navbar*/
}

ul, li{
	text-decoration: none;
	list-style-type: none;
}

li a, li a:hover{
	color: white;
}

body{
	background-color: transparent;
	color: white;
}

header{
	text-align: left;
}

.bs{
    max-width:100%;
    margin:auto;
    width: 60%;
    
}

#header-link{
	padding: 15px;
}

#header-link img{
	max-width: 100%;
	height: 50px;
	margin-top: 5px;
}

ul{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

a.navbar-brand{
	padding: 7px;
}

.navbar-nav>li:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(0, 195, 255, .8);
}

.navbar{
	margin: 0;
}

#logo{
	height: 100%;
}

.carousel-inner>.item>img{
	width: 100%;
	height: 350px;
}

.btn{
	background-color: rgba(0, 195, 255, .8);
	border-color: rgba(0, 195, 255, .8);
	color: white;
}

.btn:hover{
	background-color: rgba(0, 174, 255, .8);
	border-color: rgba(0, 174, 255, .8);
	color: white;
}

a{
	color: rgba(0, 195, 255, .6);
}

/* Other Page Details */
.jumbotron{
	background-image: url("/resources/assets/banners/banner01.jpg");
}

/* Login, Registration and Contact Us Page */
#login-form, #register-form, #contact-form{
	width: 360px;
	margin: auto;
}

#create-account-link-container, #login-account-link-container{
	border-top: solid rgba(140, 140, 140, .3) 1px;
	margin: 15px 0;
	padding: 10px 0;
}

#login-forgot-password{
	float: right;
	margin: 10px 0;
}

.input-group{
	margin: 15px 0;
	width: 100%;
}

textarea{
	width: 100%;
	resize: none;
}

#remember-me{
	float: left;
}

/* FAQ */
#faqQuestions{
	width: 65%;
	margin: auto;
}

.question{
	display: inline-block;
	cursor: pointer;
	font-size: 4vmin;
}

.faqQuestion{
	text-align: left;
	padding-top: 15px;
	padding-bottom: 25px;
}

.faqSection{
	border-bottom: solid rgba(140, 140, 140, .3) 1px;
}

/* About Us */
#profiles{
	margin: auto;
	width: 50%;
}

.media{
	border-bottom: solid rgba(140, 140, 140, .3) 1px;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

/* Footer */
#footer{
	margin-top: 80px;
    padding-top: 5px;
    margin-bottom: 0xp;
    margin-left: 30px auto;
    margin-right: 30px auto;
    background-color: #111111;
}

.social-icon{
	margin: 5px;
}

/* For Animations */
.showOnScroll{
    opacity:0;
}

.btn{
	transition: background-color .3s ease-out;
	-webkit-transition: background-color .3s ease-out;
}
/* For Portfolio Gallery*/ 
div.porfolio-gallery{
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;

    
}
div.psection {
    margin: 5px;
    float: left;
    width: 480px;
    padding: 5px;
}

div.psection:hover {
    border: 1px solid #777;
}

div.psection img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}